/* RESET */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* COMMON */

.titlepara{
    font-size: 3rem;
    line-height: 50px;
}
.paragrey{
    font-size: 1.3rem;
    color: grey;
    font-weight: 500;
}
/* HEADER */
.headersup{
    width: 100%;
    height: 40px;
    background-color: black;
}
.headersup img{
    width: 100px;
}
.headersot a{
    font-weight: 500;
}
.nav-item i{
    font-size: .7rem;
    color: #9b9b9b;
}
.ms_btn.btn.btn-secondary{
    background-color: #363636;
    border: 0px;
    border-radius: 2rem;
}
#search{
    color: black;
    font-size: 1.5rem;
}
/* MAIN */
/* SECTION jumbotron */
.jumbotron{
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-position: top;
    position: relative;
}
.jumbotron img{
    width: 60%;
}
.jumbotron .ms_btn.btn.btn-secondary , .takestwo .ms_btn.btn.btn-secondary{
    background-color: #cd3d0f;
    line-height: 30px;
    width: 150px;
}
.jumbotron .cardreturnal{
    position: absolute;
    bottom: 50px;
}
/* SECTION cardjumbotron */
.cardgame img{
    width: 100%;
}
/* SECTION psfive */
.psfive a{
    text-decoration: none;
    color: #0072ce;
    font-weight: 500;
}
.psfive .ms_btn.btn.btn-secondary{
    background-color: #2d64e6;
    line-height: 30px;
    width: 200px;
}
.psfive .psfiveimg img{
    width: 100%;
}
.psfivecarddetails img{
    width: 100%;
}
.psfivecarddetails.ms_active{
    border-bottom: 2px solid #127cd1;
}
/* SECTION takestwo */
.takestwo{
    height: 650px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-position: top;
}
.takestwo img{
    width: 50%;
}
/* SECTION nuove uscite */
.nuoveuscite{
    background-color: #1f1f1f;
}
.nuoveuscite .gamenew img{
    width: 100%;
}
/* SECTION psfour */
.psfour img{
    width: 100%;
}
.psfour .ms_btn.btn.btn-secondary{
    background-color: #2d64e6;
    line-height: 30px;
    width: 130px;
}
/* SECTION psplus */
.psplus{
    background-color: #bebcbb;
}
#plus{
    width: 60%;
}
.psplus img{
    width: 100%;
}
.psplus .ms_btn.btn.btn-secondary{
    background-color: #d9dadc;
    line-height: 30px;
    width: 220px;
    color:#2d64e6; ;
}
/* SECTION sconti */
.imgsconti img{
    width: 100%;
}
/* SECTION psnow */
.psnow{
    background-color: #161c3b;
}
#now{
    width: 60%;
}
.psnow img{
    width: 100%;
}
.psnow .ms_btn.btn.btn-secondary{
    background-color: #f5f5f5;
    line-height: 30px;
    width: 220px;
    color: black;
}

.box{
    height: 100px;
    width: 200px;
    background-color: blue;
    border: 1px solid black ;
}