/* RESET */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* COMMON */

.cardgame img , .psfive .psfiveimg img ,
.psfivecarddetails img ,.psfivecarddetailsopacity img ,
.psfour img , .nuoveuscite .gamenew img , .psplus img ,
.imgsconti img , .psnow img{
    width: 100%;
}
.titlepara{
    font-size: 3rem;
    line-height: 50px;
}
.titleparasmall{
    font-weight: 700;
    font-size: 2rem;
    line-height: 50px;
}
.paragrey{
    font-size: 1.3rem;
    color: grey;
    font-weight: 500;
    line-height: 30px;
}
/* HEADER */
header{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.headersup{
    width: 100%;
    height: 40px;
    background-color: black;
}
.headersup img{
    width: 100px;
}
.headersot{
    background-color: white;
}
.headersot a{
    font-weight: 500;
}
.nav-item i{
    font-size: .7rem;
    color: #9b9b9b;
}
.ms_btn.btn.btn-secondary{
    background-color: #363636;
    border: 0px;
    border-radius: 2rem;
}
.wrapperodwn{
    width: 100%;
}
.dropdownmenu{
    height: 250px;
    background-color: white;
    display: none;
}
.dropdownmenu ul{
    color:#0072ce
}
.dropdownmenu a{
    text-decoration: none;
    color: black;
}
#search{
    color: black;
    font-size: 1.5rem;
}
/* MAIN */
/* SECTION jumbotron */
.jumbotron{
    min-height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-position: top;
    position: relative;
    margin-top: 120px;
}
.jumbotron img{
    width: 60%;
}
.jumbotron .ms_btn.btn.btn-secondary , .takestwo .ms_btn.btn.btn-secondary{
    background-color: #cd3d0f;
    line-height: 30px;
    width: 150px;
}
.jumbotron .cardreturnal{
    position: absolute;
    bottom: 50px;
}
/* SECTION psfive */
.psfive a{
    text-decoration: none;
    color: #0072ce;
    font-weight: 500;
}
.psfive .ms_btn.btn.btn-secondary{
    background-color: #2d64e6;
    line-height: 30px;
    width: 200px;
}
.psfivecarddetailsopacity{
    opacity: .75;
}
.psfivecarddetails.ms_active{
    border-bottom: 2px solid #127cd1;
}
/* SECTION takestwo */
.takestwo{
    min-height: 650px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-position: top;
}
.takestwo img{
    width: 50%;
}
/* SECTION nuove uscite */
.nuoveuscite{
    background-color: #1f1f1f;
}
/* SECTION psfour */

.psfour .ms_btn.btn.btn-secondary{
    background-color: #2d64e6;
    line-height: 30px;
    width: 130px;
}
/* SECTION psplus */
.psplus{
    background-color: #bebcbb;
}
#plus{
    width: 60%;
}

.psplus .ms_btn.btn.btn-secondary{
    background-color: #d9dadc;
    line-height: 30px;
    width: 220px;
    color:#2d64e6; ;
}

/* SECTION psnow */
.psnow{
    background-color: #161c3b;
}
#now{
    width: 60%;
}
.psnow img{
    width: 100%;
}
.psnow .ms_btn.btn.btn-secondary{
    background-color: #f5f5f5;
    line-height: 30px;
    width: 220px;
    color: black;
}
/* SECTION socialmedia */
.wrappersocial{
    margin: 0 auto ;
    width: 1320px;
    padding-bottom: 6rem;
}
.social img{
    width: 250px;
}
.wrappersocial{
    width: 80%;
    margin: 0 auto;
}

/* FOOTER */
footer img{
    width: 150px;
}
footer #playlogo{
    width: 20%;
}
footer{
    background-color: #00439c;
}
footer a{
    text-decoration: none;
    color: white;
}
/* HOVER */
.psfivecarddetailsopacity:hover{
    opacity: 10;
    border-bottom: 2px solid #127cd1;
}
.cardgame img:hover , button:hover ,
 #psfiveactive:hover ,.psfivecarddetailsopacity:hover{
    transition: .5s;
    transform: scale(1.2);
}
.cardgame img:hover{
    border: 4px solid #0a77d0;
}
.headersot ul:hover header.dropdownmenu{
   display: block;
}

/* MEDIAQUERY */
@media screen and  ( min-width : 767px){
    .wrappersocial{
        width: 50%;
    }
}